<% content_for :meta_title, "Mes participations • Posilink" %>
<% content_for :meta_description, "Mes participations aux évènements associatif avec Posilink" %>

<div class="container">
    <h1 class="pt-3">Événements auxquels je participe</h1>
    <div class="row align-items-center">
        <% @participating_events.each do |event| %>
            <div class="col-xl-4 col-md-6 pb-4">
                <div class="card card-ac">
                    <div class="photo-taille">
                        <img src="<%= rails_blob_path event.picture %>" alt="Événement" class="object-fit-cover img-fluid">
                    </div>
                    <div class="card-body">
                        <p class="date-start">Le <%= event.start_time.strftime('%d %m %y') %><p>
                        <h3 class="card-title titre-carte"><%= event.title %></h3>

                    </div>
                        <p class="para-card"><%= event.address %> </p>
                    <div class="card-bottom">
                        <a class="bouton-ac" onclick="window.location.href='<%= event_path(event) %>'">Voir les articles <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        <% end %>

    </div>
</div>