<% content_for :meta_title, "Mon profil • Posilink" %>
<% content_for :meta_description, "Mon profil chez Posilink" %>

<div class="container ">
  <div class='prev-wrap pt-3'>
    <%= link_to :back do %>
      <div class="btn-test"><i class="fa fa-angle-left"></i> Précédent </div>
    <% end %>
  </div>
  <section class="section-profil px-2">
    <div class="profil-page">
      <% if current_user.avatar.present? %>
          <%= cl_image_tag current_user.avatar.key, alt: "Avatar de #{current_user.email}", class: "profil-avatar" %>
      <% else %>
      <%= image_tag "cover.png", width: 100, height: 100, alt: "Avatar par défaut", class: "profil-avatar" %>
      <% end %>
    </div>
    <div class="case-profil ps-5">
      <div class="px-2 pt-1">
        <h2><%= current_user.nickname %></h2>
      </div>
      <div class="case-menu">
        <div class="px-2 pt-2">
          <%= link_to "Modifier profil", edit_user_path(current_user), method: :get, class: "bouton-profil" %>
        </div> 
        <div class="px-2 pt-2">
          <%= link_to "Mes évènements", my_events_user_path(current_user), method: :get, class: "bouton-profil" %>
        </div>
      </div>
    </div>
    <div class="px-2 pt-2">
      <%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "bouton-deco bi bi-x-square" %>
    </div>
  </section>

  <h2>Mon calendrier</h2>
  <div class="pb-5">
    <%= month_calendar(events: @participations) do |date, participations_of_date| %>
      <%= date %>
        <% participations_of_date.each do |participation| %>
          <button class="meeting phone-view truncated-title">
            <%= link_to participation.event.title.truncate(1, omission: ''), event_path(participation.event) %>
          </button>
          <button class="meeting desktop-view">
            <%= link_to participation.event.title, event_path(participation.event), class: 'participation-calendar' %>
            <small><%= participation.time unless participation.multi_days? %></small>
          </button>
        <% end %>
    <% end %>
  </div>
</div>


