<% content_for :meta_title, "Évènement • Posilink" %>
<% content_for :meta_description, "Modifier un évènement" %>
<div class="container">
    <h2>Modifier l'Événement</h2>
    <%= form_for [@organization, @event] do |f| %>
        <div class="form-group">
            <%= f.label :title, "Titre de l'événement" %>
            <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :picture, "Photo de l'évènement" %>
            <%= f.file_field :picture, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :description, "Description" %>
            <%= f.text_area :description, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :address, "Adresse" %>
            <%= f.text_field :address, class: "form-control" %>
        </div> 
        <div class="form-group">
            <%= f.label :start_time, "Date et heure de début" %>
            <%= f.datetime_local_field :start_time, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :end_time, "Date et heure de fin" %>
            <%= f.datetime_local_field :end_time, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.submit 'Mettre à jour', class: 'btn btn-primary' %>
        </div>
    <% end %>
</div>
